<div id="nome">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" [(ngModel)]="nome">
</div>

<div id="tipo">
    <label for="tipo">Tipo: </label>
    <input type="text" name="tipo" [(ngModel)]="tipo">
</div>

<div id="distribuidora">
    <label for="distribuidora">Distribuidora: </label>
    <input type="text" name="distribuidora" [(ngModel)]="distribuidora">
</div>

<div id="classificacao">
    <label for="classificacao">Classificacao: </label>
    <input type="text" name="classificacao" [(ngModel)]="classificacao">
</div>

<button (click)="cadastrar()">Cadastrar</button>




